<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>o</title>
</head>
<body>

<form action="/ToDO" method="post">
    Название цели: <input type="text" name="name"><br />
    Описание: <input type="text" step="any" name="description"><br />
    <div><input type = "radio" value="1" name="rating" /> <input type = "radio"
             value="2" name="rating" /> <input type = "radio" value="3" name="rating" />
        <input type = "radio" value="4" name="rating" />
        <input type = "radio" value="5" name="rating" /></div>
    <label for="localdate">Дата и время: </label>
    <input type="datetime-local" id="localdate" name="date"/><br />

    <label for="category-select">Категория задачи:</label>
    <select name="category" id="category-select">
        <option value="">-Выберите категорию задачи--</option>
        <option value="any">Бытовая</option>
        <option value="household">Все остальные</option>
    </select>
    <button type="submit">Добавить план</button>
</form>

<form action="/ToDO/sortName" method="get">
    <button type="submit">Сортировать по названию</button>
</form>

<form action="/ToDO/sortPriority" method="get">
    <button type="submit">Сортировать по важности</button>
</form>

<form action="/ToDO/sortDate" method="get">
    <button type="submit">Сортировать по срокам выполнения</button>
</form>


<form action="/ToDO/findCategory" method="get">
    <select name="category">
        <option value="any">-Выберите категорию задачи--</option>
        <option value="any">Бытовая</option>
        <option value="household">Все остальные</option>
    </select>
    <button type="submit">Показать по определённой категории</button>
</form>

<form action="/ToDO/findByKeyWordOrDate" method="get">
    Ключевое слово: <input type="text" name="name">Время: <label for="localDateTime">Дата и время: </label>
    <input type="datetime-local" id="localDateTime" name="date"/><br />
    <button type="submit">Поиск</button>
</form>


<!--<form method="get">-->
<!--    <button type="submit">Сортировать по важности</button>-->
<!--</form>-->


<div th:each="plan : ${plan}">
    <a th:text="${plan.getName()}"
       th:href="@{/ToDO/{id}(id=${plan.getId()})}">plan</a>
<!--    <button type="submit" th:href="@{/ToDO/{id}(id=${plan.getId()})}" >Update</button>-->
</div>

</body>
</html>