<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>o</title>
</head>
<body>

<!--<form th:action="@{/ToDO}" th:method="post" th:object="${plan}">-->
<!--    <label for="name">Название цели: </label>-->
<!--    <input type="text" name="name" id="name"/>-->
<!--&lt;!&ndash;    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>&ndash;&gt;-->
<!--    <br/>-->
<!--    Описание: <input type="text" step="any" name="description"/>-->
<!--&lt;!&ndash;    <div class="form-error" th:if="${#fields.hasErrors('description')}" th:text="${#fields.errors('description').get(#fields.errors('description').size() - 1)}" ></div><br />&ndash;&gt;-->
<!--    <div><input type = "radio" value="1" name="rating" /> <input type = "radio"-->
<!--             value="2" name="rating" /> <input type = "radio" value="3" name="rating"/>-->
<!--        <input type = "radio" value="4" name="rating" />-->
<!--        <input type = "radio" value="5" name="rating" />-->
<!--&lt;!&ndash;        <div  th:if="${#fields.hasErrors('rating')}" th:text="${#fields.errors('rating').get(#fields.errors('rating').size() - 1)}" ></div></div>&ndash;&gt;-->
<!--    <label for="localdate">Дата и время: </label>-->
<!--    <input type="datetime-local" id="localdate" name="deadline"/>-->
<!--&lt;!&ndash;    <div  th:if="${#fields.hasErrors('deadline')}" th:text="${#fields.errors('deadline').get(#fields.errors('deadline').size() - 1)}" ></div><br />&ndash;&gt;-->
<!--    <label for="category-select">Категория задачи:</label>-->
<!--    <select name="planCategory" id="category-select">-->
<!--        <option value="">-Выберите категорию задачи&#45;&#45;</option>-->
<!--        <option value='HOUSEHOLD'>Бытовая</option>-->
<!--        <option value='ANY'>Все остальные</option>-->
<!--    </select>-->
<!--    <button type="submit">Добавить план</button>-->
<!--</form>-->

<form th:action="@{/ToDO}" th:method="post" th:object="${plan}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
</form>

<form action="/ToDO/sortName" method="get">
    <button type="submit">Сортировать по названию</button>
</form>

<form action="/ToDO/sortPriority" method="get">
    <button type="submit">Сортировать по важности</button>
</form>

<form action="/ToDO/sortDate" method="get">
    <button type="submit">Сортировать по срокам выполнения</button>
</form>


<form action="/ToDO/findCategory" method="get">
    <select name="category">
        <option value="any">-Выберите категорию задачи--</option>
        <option value="any">Бытовая</option>
        <option value="household">Все остальные</option>
    </select>
    <button type="submit">Показать по определённой категории</button>
</form>

<form action="/ToDO/findByKeyWordOrDate" method="get">
    Ключевое слово: <input type="text" name="name">Время: <label for="localDateTime">Дата и время: </label>
    <input type="datetime-local" id="localDateTime" name="date"/><br />
    <button type="submit">Поиск</button>
</form>


<!--<form method="get">-->
<!--    <button type="submit">Сортировать по важности</button>-->
<!--</form>-->


<div th:each="plan : ${plans}">
    <a th:text="${plan.getName()}"
       th:href="@{/ToDO/{id}(id=${plan.getId()})}">plan</a>
<!--    <button type="submit" th:href="@{/ToDO/{id}(id=${plan.getId()})}" >Update</button>-->
</div>

</body>
</html>